<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer"
         connectionString="Data Source=riskdb.ab.net; Initial Catalog=OPriskAspdb_1;user id=ORM_Users; password =useroform" providerName="System.Data.SqlClient" />
    <add name="ORM_ConnectionString"
	connectionString="Data Source=riskdb.ab.net; Initial Catalog=FG_DB;user id=compuco; password =1024compuco" providerName="System.Data.SqlClient" />
		 
  </connectionStrings>
  <!-- End of connection string segment -->
  <system.web>
    <authorization>
      <allow users="?" />
    </authorization>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add connectionStringName="LocalSqlServer" enablePasswordRetrieval="false"
             enablePasswordReset="true" requiresQuestionAndAnswer="false"
             applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed"
             maxInvalidPasswordAttempts="10000" minRequiredPasswordLength="1"
             minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10000"
             passwordStrengthRegularExpression="" name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <authentication mode="Forms" />
    <sessionState timeout="1200"></sessionState>
    <roleManager enabled="true" />
    <anonymousIdentification enabled="true" />
    <profile defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LocalSqlServer" applicationName="/" />
      </providers>
      <properties>
        <add name="Location" defaultValue="1" type="Int64" allowAnonymous="false" />
        <add name="Department" defaultValue="1" type="Int64" allowAnonymous="false" />
      </properties>
    </profile>
    <globalization culture="fa-IR" uiCulture="fa-IR" />
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="pdc" namespace="PersianDateControls" assembly="PersianDateControls 2.0" />
      </controls>
    </pages>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.Office.Interop.Word, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
  </system.web>
  <system.web>
    <customErrors mode="RemoteOnly" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    
  </system.webServer>
</configuration>