USE [FG_DB-light]
GO
/****** Object:  View [dbo].[V_AdminRoleUsers]    Script Date: 2/26/2023 12:53:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create VIEW [dbo].[V_AdminRoleUsers]

AS
SELECT   '123456789' as RoleName,
User_Name as FullName,
'123456789' as ShomarehPersenely,
User_Name as UserName,
User_Name,
'123456789' as Semat
FROM       [dbo].[Group_Users]  
                    
					 
                
            
            
            





GO
